@model MovieViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<section class="movie edit">
@using (Html.BeginForm("Edit", "Movie"))
{ 
    @Html.Partial("_EditForm")
    <div id="Buttons">
        <input type="submit" id="Save" value="Save"/>|@(Html.ActionLink("Cancel", "Details", new { slug = Model.Title }, new { id = "Cancel" }))
    </div>
}
</section>