@model IEnumerable<MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.ActionLink("Create New", "Create", new {}, new { id = "new"}))

@foreach (var item in Model)
{
    @Html.Partial("_Movie", item)
}

<section id="CreateDialog">
</section>
